// Place all the styles related to the customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.customer_container {
  width: 400px;
  height: 500px;
  display: inline-block;
  float: left;
}
.customer {
  clear: both;
  width: 325px;
  display: inline-block;
  float: left;
  margin: 10px;
  padding: 25px;
  border: 1px solid black;
  box-shadow: 10px 10px 10px rgba(0,0,0,.5);
  border-radius: 25px;
}
.customer h2 {
  display: inline-block;
}
.customer .links {
  float: right;
}
.customer img {
  clear: both;
  width: 250px;
  margin: 0 37px;
  margin-bottom: 30px;
}

table {
  clear: both;
}
